* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 10rem;
  padding: 1rem;
  border-radius: .2rem;
  border: none;
  cursor: pointer;
}
button:active {
  opacity: .8;
}
input {
  font-size: 1.8rem;
  color: rgb(91, 90, 90);
  text-align: center;
  padding: 1rem;
  border: none;
}
a {
  text-decoration: none;
  color: white;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
}
form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 1rem;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  row-gap: 3rem;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
}
.searcher-title {
  font-size: 1.8rem;
}
.menu {
  display: flex;
  flex-flow: column wrap;
  row-gap: .7rem;
  width: 30rem;
  margin: 0 auto;
}
.main-page-link {
  font-size: 5rem;
  color: rgb(49, 197, 172);
}
.menu__description {
  font-size: 2rem;
  letter-spacing: .15rem;
}
.menu__link {
  font-size: 1.8rem;
  color: rgb(49, 197, 172);
}
.link {
  display: inline-block;
}
.link:active {
  color: rgb(36, 144, 126);
}

.list-of-gifs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.list-of-gifs__title {
  font-size: 2.4rem;
  width: 100%;
}
.gifs {
  display: flex;
  flex-flow: column;
  border: .1rem solid #eee;
  border-radius: .6rem;
  width: 30rem;

}
.gifs__title {
  padding: .8rem 0;
  font-size: 1.8rem;
}
.gif__img {
  max-width: 80%;
}
.loading-text {
  font-size: 1.8rem;
}